<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card class="welcome-card" color="primary">
      <ion-card-header>
        <ion-card-subtitle>BY.ERICK DAVID ROSARIO ALCANTARA</ion-card-subtitle>
        <ion-card-title>BIENVENIDOS</ion-card-title>
  
      </ion-card-header>
        <ion-img full  src="assets/imagen.jpeg"></ion-img>
      <ion-card-content>
        <p>Bienvenidos a la AppUsersConsumi, esta pequeña aplicacion trata del consumo de servicios REST API FULL mediante la nuevas variante de Typescript.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
